@mixin font($size,$weight: 600, $line-height: 105%, $color: $color-dark, $font-style: normal) {
font-size: $size;
font-weight: $weight;
line-height: $line-height;
color: $color;
font-style: $font-style;
}

@mixin mediaTablet {
    @media  screen and (max-width: $tablet ){
        @content;
    }
}


@mixin mediaDt {
    @media  screen and (max-width: $desktop){
        @content;
    }
}

@mixin mediaPhone {
    @media  screen and (max-width: $phone){
        @content;
    }
}