@mixin font($size,$weight: 600, $line-height: 105%, $color: $color-dark, $font-style: normal) {
font-size: $size;
font-weight: $weight;
line-height: $line-height;
color: $color;
font-style: $font-style;
}