//core
@import 'core/reset';


//abstracts
@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstracts/placeholders';

//bases
@import 'bases/base';
@import 'bases/button';

//layouts
@import 'layouts/header';
@import 'layouts/favorite-coffee';
@import 'layouts/about';
@import 'layouts/mobile-app';
@import 'layouts/footer';