/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Inter", Verdana, sans-serif;
}

html {
  font-size: 10px;
}

body {
  background-color: #E1D4C9;
}

.container {
  margin: auto;
  padding: 0 4rem;
  padding-bottom: 10rem;
  max-width: 136rem;
}

h1 {
  font-size: 7.2rem;
  font-weight: 600;
  line-height: 105%;
  color: #E1D4C9;
  font-style: normal;
}

h2 {
  font-size: 6rem;
  font-weight: 600;
  line-height: 125%;
  color: #403F3D;
  font-style: normal;
}

span {
  color: #B0907A;
  font-style: italic;
}

h3 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 125%;
  color: #403F3D;
  font-style: normal;
}

p {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 150%;
  color: #403F3D;
  font-style: normal;
}

button {
  background-color: #E1D4C9;
}

.header__logo-img {
  width: 100px;
  height: 60px;
}

.header__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.header__nav-list {
  display: flex;
  gap: 4rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 150%;
  color: #403F3D;
  font-style: normal;
}

li {
  cursor: pointer;
}

.header__title {
  background-position: center center;
  background-size: cover;
  background-image: url("img/header/img-hero.jpg");
  border-radius: 4rem;
}

.header__title-main {
  display: block;
  padding: 10rem;
  padding-right: 53rem;
}

.header__title-p {
  color: #E1D4C9;
  max-width: 53rem;
}

.header__title-btn {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 150%;
  color: #403F3D;
  font-style: normal;
  border-radius: 10rem;
  padding: 2rem 7.8rem;
}

.header__title-text, .header__title-p, .header__title-btn {
  margin-bottom: 4rem;
}

.favorite-coffee__wrapper {
  position: relative;
  overflow: hidden;
  max-width: 136rem;
}

.favorite-coffee__slider {
  position: relative;
  display: flex;
  align-items: center;
  transition: all 1s;
}

.favorite-coffee__card {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
}

.favorite-coffee__btn-left {
  position: absolute;
  left: 1%;
  top: 40%;
}

.favorite-coffee__btn-right {
  position: absolute;
  right: 1%;
  top: 40%;
}

.favorite-coffee__btn-left:hover, .favorite-coffee__btn-right:hover {
  background-color: #665F55;
  border-radius: 100%;
  transition: 0.01s ease;
}

.favorite-coffee__title {
  text-align: center;
  padding-bottom: 4rem;
}

.favorite-coffee__img {
  width: 480px;
  height: 480px;
  padding-bottom: 2rem;
}

.favorite-coffee__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  max-width: 45rem;
  padding-bottom: 4.4rem;
}

.favorite-coffee__controls {
  display: flex;
  gap: 12px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
}

.favorite-coffee___control {
  width: 40px;
  height: 4px;
  border-top: 4px solid #C1B6AD;
  border-radius: 100px;
}

.favorite-coffee___control:hover {
  border-top: 4px solid #665F55;
}

.favorite-coffee___control--active {
  border-top: 4px solid #665F55;
}

.about__title {
  text-align: justify;
  letter-spacing: 0.1rem;
  padding-bottom: 2rem;
}

.about__gallery {
  display: flex;
  justify-content: center;
  gap: 4rem;
  overflow: hidden;
}

.about__gallery-card {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.about__gallery-card > * {
  overflow: hidden;
  border-radius: 2rem;
  transition: all 0.5s ease-in-out;
}

.about__gallery-card-big {
  width: 66rem;
  height: 59rem;
}

.about__gallery-card-little {
  width: 66rem;
  height: 43rem;
}

.mobile-app__container {
  display: flex;
  gap: 10rem;
}

.mobile-app__offer {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
}

.mobile-app__buttons {
  display: flex;
  gap: 2rem;
}

.mobile-app__button:hover {
  background: #665F55;
  color: #E1D4C9;
  transition: all 0.1s ease-out;
  border-radius: 4rem;
}

/*# sourceMappingURL=style.css.map */
