/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Inter", Verdana, sans-serif;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: #E1D4C9;
}

.container {
  margin: auto;
  padding: 0 4rem;
  padding-bottom: 10rem;
  max-width: 144rem;
}

.container-menu {
  margin: auto;
  padding: 0 4rem;
  max-width: 144rem;
}

a {
  color: #403F3D;
  font-weight: 600;
}

h1 {
  font-size: 7.2rem;
  font-weight: 600;
  line-height: 105%;
  color: #E1D4C9;
  font-style: normal;
}

h2 {
  font-size: 6rem;
  font-weight: 600;
  line-height: 125%;
  color: #403F3D;
  font-style: normal;
}

h3 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 125%;
  color: #403F3D;
  font-style: normal;
}

p {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 150%;
  color: #403F3D;
  font-style: normal;
}

span {
  color: #B0907A;
  font-style: italic;
}

button {
  background-color: #E1D4C9;
}

.header__logo-img {
  width: 100px;
  height: 60px;
}

.header__logo-img:hover {
  box-shadow: 10px 5px 10px #C1B6AD;
}

.header__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.header__nav-list {
  display: flex;
  gap: 4rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 150%;
  color: #403F3D;
  font-style: normal;
}

li {
  cursor: pointer;
}

.header__title-main {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 644px;
  padding: 100px;
  border-radius: 40px;
  overflow: hidden;
  background-size: cover;
}

.header__description {
  position: relative;
  max-width: 53rem;
}

.header__title-p {
  color: #E1D4C9;
  max-width: 53rem;
  padding-top: 4rem;
}

.header__title-btn {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 150%;
  color: #403F3D;
  font-style: normal;
  border-radius: 10rem;
  padding: 2rem 7.8rem;
}

.header__title-text, .header__title-p, .header__title-btn {
  margin-bottom: 4rem;
}

.header__nav-list-link {
  color: #403F3D;
}

.header__nav-list-link:hover {
  border-bottom: 3px solid #403F3D;
  transition: all 0.1s;
}

.header__menu-link:hover {
  border-bottom: 3px solid #403F3D;
  transition: all 0.1s;
  padding-bottom: 8px;
}

.header__menu-link-menu {
  cursor: default;
  border-bottom: 3px solid #403F3D;
  padding-bottom: 8px;
}

.header__title-btn-img {
  position: absolute;
  stroke: #E1D4C9;
}

.header__title-btn:hover .header__title-btn-img {
  stroke: #403F3D;
  transition: all 0.3s;
}

.header__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  border-radius: 40px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

:focus, :active {
  outline: none;
}

.favorite-coffee__wrapper {
  position: relative;
  overflow: hidden;
  max-width: 136rem;
}

.favorite-coffee__slider {
  position: relative;
  display: flex;
  align-items: center;
  transition: all 1s;
}

.favorite-coffee__card {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
}

.favorite-coffee__btn-left {
  position: absolute;
  left: 1%;
  top: 40%;
  border-radius: 100%;
  border: 1px solid #665F55;
  padding: 0.5rem 0.6rem;
}

.favorite-coffee__btn-right {
  position: absolute;
  right: 1%;
  top: 40%;
  border-radius: 100%;
  border: 1px solid #665F55;
  padding: 0.5rem 0.6rem;
}

.favorite-coffee__svg {
  stroke: #665F55;
}

.favorite-coffee__btn-left:hover, .favorite-coffee__btn-right:hover {
  background-color: #665F55;
  transition: all 0.5s;
}

.favorite-coffee__btn-left:hover .favorite-coffee__svg {
  stroke: #E1D4C9;
}

.favorite-coffee__btn-right:hover .favorite-coffee__svg {
  stroke: #E1D4C9;
}

.favorite-coffee__title {
  text-align: center;
  padding-bottom: 4rem;
}

.favorite-coffee__img {
  width: 480px;
  height: 480px;
  padding-bottom: 2rem;
}

.favorite-coffee__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  max-width: 45rem;
  padding-bottom: 4.4rem;
}

.favorite-coffee__controls {
  display: flex;
  gap: 12px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
}

.favorite-coffee___control {
  width: 40px;
  height: 4px;
  border-top: 4px solid #C1B6AD;
  border-radius: 100px;
}

.favorite-coffee___control:hover {
  border-top: 4px solid #665F55;
}

.favorite-coffee___control--active {
  border-top: 4px solid #665F55;
}

.about__title {
  padding-bottom: 2rem;
}

.about__gallery {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.about__gallery-card {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.about__gallery-card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  overflow: hidden;
}

.about__gallery-card-img img {
  transition: all 0.5s;
  width: 100%;
  object-position: center;
  object-fit: cover;
  transform: scale(1.1);
}

.about__gallery-card-img:hover img {
  transform: scale(1);
}

.about__gallery-card-big--hor {
  width: 66rem;
  height: 59rem;
}

.about__gallery-card-little--vert {
  width: 66rem;
  height: 43rem;
}

.mobile-app__container {
  display: flex;
  gap: 10rem;
}

.mobile-app__offer {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
}

.mobile-app__p {
  font-size: 10px;
  font-weight: bold;
  line-height: 140%;
}

.mobile-app__p-app {
  font-weight: bold;
  line-height: 150%;
}

.mobile-app__buttons {
  display: flex;
  gap: 2rem;
}

.mobile-app__text {
  display: flex;
  gap: 0.2rem;
  flex-direction: column;
}

.mobile-app__button {
  display: flex;
  gap: 0.8rem;
  border-radius: 4rem;
  border: 1px solid #665F55;
  padding: 1.4rem;
  padding-left: 2rem;
  padding-right: 5.8rem;
}

.mobile-app__button:hover {
  background-color: #665F55;
  transition: all 0.5s;
}

.mobile-app__button:hover .mobile-app__svg {
  stroke: #E1D4C9;
  fill: #E1D4C9;
}

.mobile-app__button:hover .mobile-app__p {
  color: #E1D4C9;
}

.mobile-app__button:hover .mobile-app__p-app {
  color: #E1D4C9;
}

.footer__container {
  padding: 0 4rem 4rem 4rem;
}

.footer__inner {
  background-color: #665F55;
  border-radius: 4rem;
}

.footer__sections {
  display: flex;
  justify-content: flex-start;
  gap: 10rem;
  padding: 10rem;
}

.footer__left-section {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.footer__h2 {
  color: #E1D4C9;
}

.footer__social-icons {
  display: flex;
  gap: 1.2rem;
}

.footer__social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 1px solid #C1B6AD;
  transition: all 0.5s;
  cursor: pointer;
}

.footer__svg {
  stroke: #E1D4C9;
  transition: all 0.5s;
}

.footer__social-icon:hover {
  background-color: #E1D4C9;
}

.footer__social-icon:hover .footer__svg {
  stroke: #665F55;
}

.footer-title__text {
  color: #E1D4C9;
}

.footer__title {
  padding-bottom: 4rem;
}

.footer__right-section {
  padding-top: 3.2rem;
}

.footer__contacts-info {
  padding-bottom: 1.6rem;
  color: #E1D4C9;
  font-weight: 500;
}

.footer__contact-link {
  color: #E1D4C9;
}

.footer__contact-link:hover {
  border-bottom: 3px solid #E1D4C9;
  transition: all 0.1s ease-in-out;
}

.footer__contacts-img {
  padding-right: 0.8rem;
}

.menu__title {
  text-align: center;
  padding: 0 28rem;
  padding-bottom: 4rem;
}

.p__menu {
  font-weight: 600;
}

.menu__img {
  border-radius: 100%;
  border: 1px solid #C1B6AD;
  background-color: #C1B6AD;
  padding: 0.7rem;
}

.menu__btn {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  border-radius: 65px;
  border: 1px solid #665F55;
  padding: 0.8rem;
  padding-right: 1.6rem;
}

.menu__btn:hover {
  background-color: #665F55;
  color: #C1B6AD;
}
.menu__btn:hover > * {
  color: #E1D4C9;
}

.menu__btn--active {
  background-color: #665F55;
  color: #C1B6AD;
}
.menu__btn--active > * {
  color: #E1D4C9;
}

.menu__tags {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
  padding-bottom: 4rem;
}

.main__menu-card {
  border-radius: 40px;
  border: 1px solid #665F55;
  justify-self: center;
  overflow: hidden;
}

.main__menu-card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 40px;
}

.main__menu-card img {
  transition: all 0.3s;
  width: 100%;
  object-position: center;
  object-fit: cover;
  transform: scale(1.1);
}

.main__menu-card:hover img {
  transform: scale(1);
}

.main__menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
}

.main__menu-text {
  padding: 2.1rem 1.8rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15.6rem;
}

/*# sourceMappingURL=style.css.map */
