.about__title{
  padding-bottom: 4rem;
}

.about__gallery {
  display: flex;
  justify-content: center;
  gap: 4rem;

  @include mediaTablet{
    display: flex;
    flex-direction: column;
  }
}

.about__gallery-card {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.about__gallery-card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  overflow: hidden;
}

.about__gallery-card-img img {
  transition: all 0.5s;
  width: 100%;
  object-position: center;
  object-fit: cover;
  transform: scale(1.1);

  @include mediaPhone{
    transform: scale(2);
  }
}

.about__gallery-card-img:hover img {
  transform: scale(1);
  @include mediaPhone{
    transform: scale(1.7);
  }
}
.about__gallery-card-big--hor {
  height: 59rem;
}
.about__gallery-card-little--vert {
  height: 43rem;

  @include mediaTablet{
    display: none;
  }
}
