.header__logo-img {
  width: 100px;
  height: 60px;
}
.header__logo-img:hover{
  box-shadow:10px 5px 10px $color-border-light;
}
.header__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.header__nav-list {
  display: flex;
  gap: 4rem;
  @include font(1.6rem, 600, 150%);
}

li {
  cursor: pointer;
}

.header__title-main {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 644px;
  padding: 100px;
  border-radius: 40px;
  overflow: hidden;
   background-size: cover;  
}

.header__description{
position: relative;
max-width: 53rem;
}
.header__title-p {
 color: $color-light;
  max-width: 53rem;
  padding-top: 4rem;
}

.header__title-btn {
  @include font(1.6rem, 600, 150%, $color-dark);
  border-radius: 10rem;
  padding: 2rem 7.8rem;
}

.header__title-text, .header__title-p, .header__title-btn {
    margin-bottom: 4rem;
}
.header__nav-list-link{
  color: $color-dark;
}
.header__nav-list-link:hover{
border-bottom: 3px solid $color-dark;
transition: all 0.1s;
}

.header__menu-link:hover{
  border-bottom: 3px solid $color-dark;
  transition: all 0.1s;
  padding-bottom: 8px;
}

.header__menu-link-menu{
cursor: default;
border-bottom: 3px solid $color-dark;
padding-bottom: 8px;
}

.header__title-btn-img{
position: absolute;
  stroke: $color-light;
}
.header__title-btn:hover .header__title-btn-img{
stroke: $color-dark;
transition: all 0.3s;
}

.header__video{
  height: 100%;
width:100%;
object-fit: cover;
position: absolute;
border-radius: 40px;
left: 0;
right: 0;
top:0;
bottom: 0;
z-index: -1;
}

:focus, :active{
  outline: none;
}