.mobile-app__container {
    display: flex;
    gap: 10rem;
}

.mobile-app__offer{
display: flex;
flex-direction: column;
gap: 4rem;
justify-content: center;
}
.mobile-app__buttons {
    display: flex;
    gap: 2rem;
}
.mobile-app__button:hover{
background: $color-border-dark;
color: $color-light;
transition: all 0.1s ease-out;
border-radius: 4rem;
}